.App {
    align-items: center;
    height: 100vh;
    text-align: center;
  }

  .title{
    color: white;
    font-weight: bolder;
    font-style: italic;
    font-size: larger;
    background-color: rgb(0, 166, 255);
    border-radius: 5%;
    margin: 20px;
  }

  .description{
    margin: 20px;
    padding-bottom: 20px;
  }
  
  .status-message {
    margin-bottom: 20px;
  }

  .containers-wrapper{
    display: flex;
    justify-content: space-around;
  }
  
  .video-container {
    align-items: center;
    margin-bottom: 20px;
  }
  
  .video-placeholder {
    width: 250px;
    height: 250px;
    border: solid 1px gray;
  }
  
  .result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .progressBar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
  }
  
  .progress {
    height: 10px;
    background-color: #76c7c0;
    width: 0;
    transition: width 0.4s ease;
  }

  @media (max-width: 720px) {
    .containers-wrapper{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }                             
  