.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 100vh;
    text-align: center;
  }
  
  .status-message {
    margin-bottom: 20px;
  }
  
  .video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .video-placeholder {
    width: 250px;
    height: 250px;
    border: solid 1px gray;
  }
  
  .result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .progressBar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
  }
  
  .progress {
    height: 10px;
    background-color: #76c7c0;
    width: 0;
    transition: width 0.4s ease;
  }
  